body {
color:mintcream;
text-align:center;
background-color: black;
font-family: Georgia, Palatino, "Times New Roman", Times, serif;
font-size:medium;
}

#textInput {
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
}

.blackCard {
    background-color: white;
    color: black;
    display:inline-block
}

.redCard {
    background-color: white;
    color: red;
    display:inline-block
}

input {
    width: 400px;
}

.story {
    opacity: 0;
}