body {
color:mintcream;
text-align:center;
background-color: black;
font-family: Georgia, Palatino, "Times New Roman", Times, serif;
font-size:medium;
width: 50%;
margin: auto;
}

#textInput {
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
}

input {
    width: auto;
}

.story {
    opacity: 0;
}